body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 680px;
    margin: auto;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

article + article {
    margin-bottom: 2rem;
}
